.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .muncher {
    left: 0px;
    display: flex;
    position: absolute;
    animation: munchy-effect infinite 12s linear;
  }

  .muncher div {
    background-color: #323232;
    width: 300px;
    height: 354px;
    margin-right: -50px;
  }
}

.App-header {
  position: relative;
  background-color: #323232;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-left: 300px;
}

.App-header span {
  font-size: 7rem;
}

@keyframes munchy-effect {
  0%   {transform: translate(0px);}
  25%  {transform: translate(250px);}
  50%  {transform: translate(500px);}
  75%  {transform: translate(250px);}
  100% {transform: translate(0px);}
}
